html,body{
  width: 100%;
  height: 100%;
}

#root{
  width: 100%;
  height: 100%;
  background-color: black;
}

/* styles.css */
.text-gradient {
  background: linear-gradient(90deg, #007aff, #5c2d91, #ff007f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient:hover {
  background: linear-gradient(90deg, #ff007f, #5c2d91, #007aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.5s ease;
}

.text-7xl {
  font-size: 4.5rem; /* Adjust as needed */
}

.tracking-tighter {
  letter-spacing: -0.05em; /* Adjust as needed */
}

.line{
  border-bottom: .4px solid #333;
  
}
